/** tasks **/

.tasks {
  margin-top: 8px;
  margin-bottom: 80px;
  overflow-y: scroll;
  padding: 6px;
  scrollbar-width: thin;
  scrollbar-color: var(--devtask-primary) var(--devtask-purple);
}

/* Works on Chrome, Edge, and Safari */

.tasks::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.tasks::-webkit-scrollbar-track {
  background: var(--devtask-primary); /* color of the tracking area */
}

.tasks::-webkit-scrollbar-thumb {
  background-color: var(--devtask-purple); /*  color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

/* finish scroll design */

.tasks ul {
  height: 55vh;
}

@media (min-width: 1024px) {
  .tasks ul {
    height: 60vh;
  } 
}